ul {
    list-style: none;
    display: inline;
}

a {
    color: blue;
    text-decoration: none;
}

body {
    font-family: system-ui, BlinkMacSystemFont, 'Roboto', arial, sans-serif;
}

.navlist {
    display: inline-block;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 10px;
}

li {
    display: inline;
    padding: 3px;
}

#signin {
    background-color: rgb(53, 119, 240);
    color: white;
    padding: 5px;
}

#logo {
    padding: 10em 8px;
    padding-bottom: 20px;
}

.searchbar {
    display: block;
    /* position: fixed;
    left: 25em;
    right: 10em; */
    margin: 0 auto;
    width: 35em;
    height: 2.5em;
    border-radius: 20px;
    border: solid 1px #bbbbbb;
    font-size: 1em;
    padding-left: 1em;
}

.searchbar:hover {
    box-shadow: 4px #dddddd;
}

button {
    padding: 5px 0.25em;
    margin-left: 1em;
    font-size: 1em;
}

.mob-search {
    visibility: hidden;
    background-color: rgb(53, 119, 240);
    color: white;
    border-radius: 3em;
    border: 0px;
    padding: 10px 1.5em;
    font-size: 1.5em;
}

.buttons {
    margin-left: 13em;
    position: relative;
    top: 30px;
    display: inline-block;
    margin: 0 auto;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: lightgray;
    width: 100%;
}

.foot {
    font-size: 18px;
    color: gray;
}

#foots {
    color: gray;
}

#foot1 {
    float: left;
}

#foot2 {
    padding-left: 8em;
    float: right;
}

body {
    margin: 0;
}

main {
    text-align: center;
}

@media (max-width: 600px) {
    .navlist {
        display: none;
    }
    .searchbar {
        width: 25em;
    }
    .buttons {
        display: none;
    }
    .mob-search {
        visibility: visible;
    }
    footer {
        display: none;
    }
}